<main id="main" class="main">
  <div class="table-responsive card">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Status</th>
          <th>Settings</th>
        </tr>
      </thead>
      <tbody>
        <!-- Loop through governemnt data -->
        <tr *ngFor="let governemnt of governemnts">
          <td>{{ governemnt.id }}</td>
          <td>{{ governemnt.name }}</td>
          <td>
            <label class="switch">
              <input type="checkbox" [checked]="governemnt.isActive" [readOnly]="true" disabled/>
              <span class="slider round"></span>
            </label>
          </td>
          <td>
            <a (click)="editGovernment(governemnt.id)">
              <i class="bi bi-pencil-square text-success m-1"
                style="font-size: 1.5rem"></i>
            </a>

            <a (click)="deleteGovernemnt(governemnt.id)">
              <i
                class="bi bi-trash text-danger m-1 icon-rounded"
                style="font-size: 1.5rem"
              ></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
