<main id="main" class="main">
  <section class="section admin-section">
    <div class="pagetitle">
      <nav>
        <ol class="breadcrumb text-center">
          <li class="breadcrumb-item">
            <a href="index.html"> <i class="bi-house-fill text-dark"></i> </a>
          </li>
          <li class="breadcrumb-item">Employees</li>
        </ol>
      </nav>
    </div>
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
        <div class="card info-card">
          <div class="card-body">
            <div class=" d-flex">
              <p class="card-title">Products</p>

              <div class="d-flex align-items-center ms-auto">
                <div
                  class="card-icon rounded-circle d-flex align-items-center justify-content-center me-auto"
                >
                  <i class="bi bi-cart"></i>
                </div>
              </div>
            </div>
            <div class="">
              <h6>44</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
        <div class="card info-card">
          <div class="card-body">
            <div class=" d-flex">
              <p class="card-title">Products</p>

              <div class="d-flex align-items-center ms-auto">
                <div
                  class="card-icon rounded-circle d-flex align-items-center justify-content-center me-auto"
                >
                  <i class="bi bi-cart"></i>
                </div>
              </div>
            </div>
            <div class="">
              <h6>44</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
        <div class="card info-card">
          <div class="card-body">
            <div class=" d-flex">
              <p class="card-title">Products</p>

              <div class="d-flex align-items-center ms-auto">
                <div
                  class="card-icon rounded-circle d-flex align-items-center justify-content-center me-auto"
                >
                  <i class="bi bi-cart"></i>
                </div>
              </div>
            </div>
            <div class="">
              <h6>44</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
        <div class="card info-card">
          <div class="card-body">
            <div class=" d-flex">
              <p class="card-title">Products</p>

              <div class="d-flex align-items-center ms-auto">
                <div
                  class="card-icon rounded-circle d-flex align-items-center justify-content-center me-auto"
                >
                  <i class="bi bi-cart"></i>
                </div>
              </div>
            </div>
            <div class="">
              <h6>44</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
        <div class="card info-card">
          <div class="card-body">
            <div class=" d-flex">
              <p class="card-title">Products</p>

              <div class="d-flex align-items-center ms-auto">
                <div
                  class="card-icon rounded-circle d-flex align-items-center justify-content-center me-auto"
                >
                  <i class="bi bi-cart"></i>
                </div>
              </div>
            </div>
            <div class="">
              <h6>44</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
        <div class="card info-card">
          <div class="card-body">
            <div class=" d-flex">
              <p class="card-title">Products</p>

              <div class="d-flex align-items-center ms-auto">
                <div
                  class="card-icon rounded-circle d-flex align-items-center justify-content-center me-auto"
                >
                  <i class="bi bi-cart"></i>
                </div>
              </div>
            </div>
            <div class="">
              <h6>44</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
        <div class="card info-card">
          <div class="card-body">
            <div class=" d-flex">
              <p class="card-title">Products</p>

              <div class="d-flex align-items-center ms-auto">
                <div
                  class="card-icon rounded-circle d-flex align-items-center justify-content-center me-auto"
                >
                  <i class="bi bi-cart"></i>
                </div>
              </div>
            </div>
            <div class="">
              <h6>44</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
        <div class="card info-card">
          <div class="card-body">
            <div class=" d-flex">
              <p class="card-title">Products</p>

              <div class="d-flex align-items-center ms-auto">
                <div
                  class="card-icon rounded-circle d-flex align-items-center justify-content-center me-auto"
                >
                  <i class="bi bi-cart"></i>
                </div>
              </div>
            </div>
            <div class="">
              <h6>44</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
