<main id="main" class="main">
  <div class="container mt-4">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr class="text-center">
            <th>#</th>
            <th>Date</th>
            <th>Customer Info</th>
            <th>Government</th>
            <th>Region</th>
            <th>Cost</th>
            <th>Change Status</th>
          </tr>
        </thead>
        <tbody>

          @for (order of orders; track $index) {
          <tr class="text-center">

            <td>{{order.id}}</td>
            <td>{{order.creationDate}}</td>
            <td>{{order.customerName}} <br />{{order.customerPhone}}</td>
            <td>{{order.government}}</td>
            <td>{{order.region}}</td>
            <td>{{order.orderPrice}}</td>
            <td>
              <select [(ngModel)]="order.orderStatus">
                @for (statusKey of orderStatusKeys; track $index) {
                  @if (!(statusKey == 2 || statusKey == 3)) {
                    <option [value]="statusKey">
                      {{ getStatusLabel(statusKey) }}
                    </option>
                  }
                }
              </select>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
  @if (orders.length === 0)
  {
  <div>
    No orders found.
  </div>
  }
</main>
