<main id="main" class="main">
  <div class="pagetitle">
    <nav>
      <ol class="breadcrumb text-center">
        <li class="breadcrumb-item">
          <a href="index.html"><i class="bi-house-fill text-dark"></i></a>
        </li>
        <li class="breadcrumb-item">{{ roleName }}</li>
      </ol>
    </nav>
  </div>

  <section class="section employees">
    <p-messages />

    <div class="card">
      <p-table
        #dt1
        [value]="rolePermissions"
        dataKey="id"
        [rows]="10"
        [loading]="loading"
        [paginator]="false"
      >
        <ng-template pTemplate="header">
          <tr class="">
            <th class="text-start" style="min-width: fit-content">
              Department
            </th>
            <th class="">View</th>
            <th class="">ِAdd</th>
            <th class="">Edit</th>
            <th class="">Delete</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rolePermissions>
          <tr class="text-center">
            <td>{{ rolePermissions.departmentName }}</td>
            <td>
              <input type="checkbox" [(ngModel)]="rolePermissions.view" />
            </td>
            <td>
              <input type="checkbox" [(ngModel)]="rolePermissions.add" />
            </td>
            <td>
              <input
                class="tex"
                type="checkbox"
                [(ngModel)]="rolePermissions.edit"
              />
            </td>
            <td>
              <input
                class="tex"
                type="checkbox"
                [(ngModel)]="rolePermissions.delete"
              />
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="8">No Permissions found.</td>
          </tr>
        </ng-template>
      </p-table>
      <div class="d-flex justify-content-end gap-2 my-3 px-5">
        <button (click)="discard()" class="btn btn-danger">Discard</button>
        <button (click)="saveChanges()" class="btn btn-success">
          Save Changes
        </button>
      </div>
    </div>
  </section>
</main>
