<main id="main" class="main">
  <div class="pagetitle d-flex">
    <nav>
      <ol class="breadcrumb text-center">
        <li class="breadcrumb-item">
          <a href="index.html"><i class="bi-house-fill text-dark"></i></a>
        </li>
        <li class="breadcrumb-item">Sellers</li>
      </ol>
    </nav>
    <button
      class="btn btn-primary ms-auto px-3"
      [routerLink]="['/admin/seller/edit', 0]"
    >
      Add Seller
    </button>
  </div>
  <section class="section sellers">
    <div class="card">
      <p-table
        #dt1
        [value]="sellers"
        dataKey="id"
        [rows]="10"
        [rowsPerPageOptions]="[5, 10, 20]"
        [loading]="loading"
        [paginator]="true"
        [globalFilterFields]="['name', 'email', 'userName', 'phoneNumber', 'storeName', 'regionName', 'branchName']"
      >
        <ng-template pTemplate="caption">
          <div class="flex">
            <span class="p-input-icon-right ml-auto">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                [(ngModel)]="searchValue"
                (input)="dt1.filterGlobal(searchValue, 'contains')"
                placeholder="Search keyword"
              />
            </span>
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Email</th>
            <th>Username</th>
            <th>Phone No.</th>
            <th>Branch</th>
            <th>Region</th>
            <th>Store</th>
            <th>Setting</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-seller>
          <tr>
            <td>{{ seller.name }}</td>
            <td>{{ seller.address }}</td>
            <td>{{ seller.email }}</td>
            <td>{{ seller.userName }}</td>
            <td>{{ seller.phoneNumber }}</td>
            <td>{{ seller.branchName }}</td>
            <td>{{ seller.regionName }}</td>
            <td>{{ seller.storeName }}</td>
            <td>
              <button
                class="bi-pencil-square btn btn-success px-2 py-1"
                [routerLink]="['/admin/seller/edit', seller.id]"
              ></button>
              <button
                class="bi-trash-fill btn btn-danger ms-2 px-2 py-1"
                (click)="deleteSeller(seller.id)"
              ></button>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="9">No sellers found.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </section>
</main>
