<section class="section login-section">
  <div class="p-fluid p-grid p-justify-center">
    <div class="p-col-12 p-md-4">
      <div class="card">
        <div class="text-center">
            <app-logo-icon class="d-flex justify-content-center mb-4"></app-logo-icon>
          <h4 class="mb-5">Login</h4>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="p-field">
            <label for="email">Username or Email</label>
            <input
              id="email"
              type="text"
              class="form-control"
              pInputText
              formControlName="userName"
            />
          </div>
          <div class="p-field">
            <label for="password">Password</label>
            <p-password
              id="password"
              formControlName="password"
              [toggleMask]="true"
              [feedback]="false"
            >
            </p-password>
          </div>
          <button
            type="submit"
            pButton
            pRipple
            label="Login"
            [disabled]="!loginForm.valid"
          >
            Login
          </button>
        </form>
      </div>
    </div>
  </div>
</section>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">InValid Data</h4>
    <a  class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></a>
  </div>
  <div class="modal-body">
    <p>Please Enter Valid Username or Email And Password &hellip;</p>
  </div>
  <div class="modal-footer">
    <a class="btn btn-secondary" (click)="modal.close('Close click')">Close</a>
  </div>
</ng-template>
