<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">
  <div class="d-flex align-items-center justify-content-between">
    <div class="logo d-flex align-items-center">
      <!-- <img src="../../../../favicon.ico" alt="" /> -->
      <app-logo-icon></app-logo-icon>
      <span class="d-none d-lg-block">Swift Shipping</span>
    </div>
    <!-- <i class="bi bi-list toggle-sidebar-btn"></i> -->
    <i class="bi bi-list toggle-sidebar-btn" (click)="toggleSidebar()"></i>
  </div>

  <div class="search-bar">
    <form
      class="search-form d-flex align-items-center"
      method="POST"
      action="#"
    >
      <input
        type="text"
        name="query"
        placeholder="Search"
        title="Enter search keyword"
      />

      <button type="submit" title="Search"><i class="bi bi-search"></i></button>
    </form>
  </div>

  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">
      <li class="nav-item d-block d-lg-none">
        <a class="nav-link nav-icon search-bar-toggle">
          <i class="bi bi-search"></i>
        </a>
      </li>
    </ul>
  </nav>
</header>
<!-- End Header -->

<!-- ======= Sidebar ======= -->

<aside
  id="sidebar"
  class="sidebar"
  [ngClass]="{ 'toggle-sidebar': !isSidebarOpen }"
>
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link">
        <i class="bi bi-grid"></i>
        <span>Admin Dashboard</span>
      </a>
    </li>

    <!-- employees -->
    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#employee-nav"
        data-bs-toggle="collapse"
      >
        <i class="bi bi-card-checklist"></i><span>Employees</span
        ><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul
        id="employee-nav"
        class="nav-content collapse"
        data-bs-parent="#sidebar-nav"
      >
        <li>
          <a [routerLink]="['/admin/employees']">
            <i class="bi bi-circle"></i><span>All Employees</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/admin/employee', 'edit', 0]">
            <i class="bi bi-circle"></i><span>Add Employee</span>
          </a>
        </li>
      </ul>
    </li>

    <!-- delivey men -->
    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#deliveryman-nav"
        data-bs-toggle="collapse"
      >
        <i class="bi bi-card-checklist"></i><span>Delivery Men</span
        ><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul
        id="deliveryman-nav"
        class="nav-content collapse"
        data-bs-parent="#sidebar-nav"
      >
        <li>
          <a [routerLink]="['/admin/deliverymen']">
            <i class="bi bi-circle"></i><span>All Delivey Men</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/admin/deliveryman', 'edit', 0]">
            <i class="bi bi-circle"></i><span>Add Delivey Man</span>
          </a>
        </li>
        <!-- <li>
          <a [routerLink]="['/admin/deliveryman', 0, 'edit']">
            <i class="bi bi-circle"></i><span>Assign To Region</span>
          </a>
        </li> -->
      </ul>
    </li>

    <!--End of Branches-->

    <!-- sellers -->
    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#seller-nav"
        data-bs-toggle="collapse"
      >
        <i class="bi bi-card-checklist"></i><span>Sellers</span
        ><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul
        id="seller-nav"
        class="nav-content collapse"
        data-bs-parent="#sidebar-nav"
      >
        <li>
          <a [routerLink]="['/admin/sellers']">
            <i class="bi bi-circle"></i><span>All Sellers</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/admin/seller', 'edit', 0]">
            <i class="bi bi-circle"></i><span>Add Seller</span>
          </a>
        </li>
      </ul>
    </li>

    <!-- orders -->
    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#order-nav"
        data-bs-toggle="collapse"
      >
        <i class="bi bi-card-checklist"></i><span>Orders</span
        ><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul
        id="order-nav"
        class="nav-content collapse"
        data-bs-parent="#sidebar-nav"
      >
        <li>
          <a [routerLink]="['/admin/orders']">
            <i class="bi bi-circle"></i><span>All Orders</span>
          </a>
        </li>
      </ul>
    </li>

    <!--Brnaches -->
    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#branch-nav"
        data-bs-toggle="collapse"
      >
        <i class="bi bi-building"></i><span>Branches</span
        ><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul
        id="branch-nav"
        class="nav-content collapse"
        data-bs-parent="#sidebar-nav"
      >
        <li>
          <a [routerLink]="['/admin/branches']">
            <i class="bi bi-circle"></i><span>All Branches</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/admin/branches/add']">
            <i class="bi bi-circle"></i><span>Add Branch</span>
          </a>
        </li>
      </ul>
    </li>

    <!-- regions -->
    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#region-nav"
        data-bs-toggle="collapse"
        href="#"
      >
        <i class="bi bi-filter-right"></i><span>Regions</span
        ><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul
        id="region-nav"
        class="nav-content collapse"
        data-bs-parent="#sidebar-nav"
      >
        <li>
          <a [routerLink]="['cities']">
            <i class="bi bi-circle"></i><span>All Regions</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['cities', 0, 'add']">
            <i class="bi bi-circle"></i><span>Add Region</span>
          </a>
        </li>
      </ul>
    </li>

    <!-- governments -->
    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#government-nav"
        data-bs-toggle="collapse"
        href="#"
      >
        <i class="bi bi-filter-right"></i><span>Governments</span
        ><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul
        id="government-nav"
        class="nav-content collapse"
        data-bs-parent="#sidebar-nav"
      >
        <li>
          <a [routerLink]="['governments']">
            <i class="bi bi-circle"></i><span>All Governments</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['governments/add']">
            <i class="bi bi-circle"></i><span>Add Government</span>
          </a>
        </li>
      </ul>
    </li>

    <!-- Permissions -->
    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#permission-nav"
        data-bs-toggle="collapse"
        href="#"
      >
        <i class="bi bi-filter-right"></i><span>Roles Permissions</span
        ><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul
        id="permission-nav"
        class="nav-content collapse"
        data-bs-parent="#sidebar-nav"
      >
        <li>
          <a [routerLink]="['/admin/roles/Employee/permissions']">
            <i class="bi bi-circle"></i><span>Employee Permissions</span>
          </a>
        </li>
      </ul>
    </li>

    <!-- settings -->
    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#setting-nav"
        data-bs-toggle="collapse"
        href="#"
      >
        <i class="bi bi-gear"></i><span>Settings</span
        ><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul
        id="setting-nav"
        class="nav-content collapse"
        data-bs-parent="#sidebar-nav"
      >
        <li>
          <a [routerLink]="['/admin/weightSettings']">
            <i class="bi bi-circle"></i><span>Weight Settings</span>
          </a>
        </li>
      </ul>
    </li>

    <li class="nav-item">
      <a class="nav-link collapsed" (click)="logOut()">
        <i class="bi bi-box-arrow-in-right"></i>
        <span>Logout</span>
      </a>
    </li>
  </ul>
</aside>

<!-- End Sidebar-->
